# phpstorm project files
.idea
*.sublime-project
*.sublime-workspace

# IDE & OS files
.*.swp
.DS_Store
Thumbs.db
.env

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar
/.composer


/.quarantine
.quarantine

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

/config/.merge-plan.php

/console/runtime
/frontend/runtime
